/*estilização index*/
*{
    margin: 0px;
}

body {
    /*background-color: #d3d0cb;*/
    background-color: #cccccc;
    background-image: linear-gradient(#fdfdfd,#b8b5b1); 
  }

.menu li {
    padding: 0pt 15pt;
    display: inline;
}

.menu ul li a{
    text-decoration: none;
    font-size: 26px;
    font-family: 'Poiret One', cursive;
    color: #d3d0cb;
}

.menu{
    background-color: #23597a;
    height: 80px;
    width: auto;
}

.menu ul {
    padding-top: 25px;
    padding-left: 100px;
}

.menu ul li a:hover{
    color: oldlace;
}

#gt{
    position: absolute;
    padding-left: 930px;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.foto-redonda{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    padding-right: 10px;
}

.foto-redonda:hover{
    opacity: .7;
}

.videos{
    padding: 0px 40px 0px 40px;
}

.justify{
    text-align: justify;
    
}

.form{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.tm{
    height: 40px;
    width: 40px;
    padding: 0px 5px 0px 5px;
}

hr{
    border-color: #4f695f; 
   }

#center{
    text-align: center;
}

footer{
    background-color:#0c3249;
}

h1{
    padding-top: 20px;
    font-family: 'Poiret One', cursive;
}

h2{
    font-family: 'Poiret One', cursive;
    font-size: 28px;
}

.inde{
    text-indent: 50px;
    font-family: 'Roboto', sans-serif;
}

.videos p{
    text-align: start;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
}

footer p{
    text-align: center;
    color: #d3d0cb;
    font-family: 'Roboto', sans-serif;
}

.fm{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}

input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #b8cdda;
  }

  input[type=email] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #b8cdda;
  }

  textarea{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #b8cdda;
  }

  button{
    background-color: #0c3249;
    border: none;
    color: #d3d0cb;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 100px;
    cursor: pointer;
  }

/*estilização contato*/
.pd-50{
    padding: 50px;
}